/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Стили для логотипа и заголовка */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-title {
    font-size: 3em; /* Размер заголовка */
    margin-left: 10px; /* Отступ между логотипом и заголовком */
}

#logo {
    height: 1em; /* Высота логотипа относительно высоты текста заголовка */
    width: auto; /* Ширина логотипа сохраняет пропорции */
}

/* Стили навигации */
nav {
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #555;
}

/* Основной контент */
main {
    padding: 20px;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
}

.anime-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px); /* Три элемента в ряду */
    box-sizing: border-box;
}

.anime-item img {
    max-width: 100%;
    height: auto;
}

.anime-item h2 {
    font-size: 1.5em;
}

.anime-item p {
    font-size: 1em;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    #site-title {
        font-size: 2em; /* Меньший размер заголовка на мобильных устройствах */
    }

    #logo {
        height: 0.8em; /* Логотип также уменьшится вместе с заголовком */
    }

    .anime-item {
        width: calc(50% - 20px); /* Два элемента в ряду на маленьких экранах */
    }
}

@media (max-width: 480px) {
    #site-title {
        font-size: 1.5em; /* Еще меньший размер на маленьких экранах */
    }

    #logo {
        height: 0.7em; /* Логотип еще больше уменьшается */
    }

    .anime-item {
        width: 100%; /* Один элемент в ряду на очень маленьких экранах */
    }
}
