body {
    font-family: 'Verdana', sans-serif;
    background-color: #1e1e2f; /* Темный фон для контраста */
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-image: linear-gradient(45deg, #ff4081, #ff9100);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    font-size: 4em; /* Увеличенный размер шрифта */
    letter-spacing: 5px; /* Увеличенное расстояние между буквами */
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7); /* Тень для выделения */
    animation: glow 1.5s infinite alternate; /* Эффект свечения */
}

/* Эффект свечения для названия сайта */
@keyframes glow {
    from {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff9100, 0 0 40px #ff9100;
    }
    to {
        text-shadow: 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff9100, 0 0 50px #ff9100;
    }
}

nav {
    margin-top: 10px;
}

#search-bar {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #ff4081;
    outline: none;
    transition: all 0.3s ease;
}

#search-bar:focus {
    border-color: #ff9100;
    box-shadow: 0 0 10px #ff9100;
}

main {
    padding: 40px;
}

#popular-anime h2 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #ff4081;
    text-shadow: 2px 2px #000;
}

#anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime-item {
    background-color: #29294d;
    color: #ffeb3b;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    text-align: center;
}

.anime-item:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.anime-item h3 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.5em;
    color: #ffeb3b;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e2f;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
}